.comment{
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  text-align: left;
}
.imgAuthor{
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--pink-500);
  border-color: gold;
}
.contentBox{
flex: 1;
}
.commentContent{
  background: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
}
.commentContent header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.authorAndTime strong {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-900);
}
.authorAndTime time{
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}
.commentContent header button{
  background: transparent;
  border: 0;
  color: var(--gray-600);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
}

.commentContent header button:hover{
  color: var(--blue-500);
}
.commentContent p{
  margin-top: 1rem;
  color: var(--gray-900);
}
.contentBox footer{
  margin-top: 1rem;
}
.contentBox footer button{
  margin-left: 2rem;
  background: transparent;
  border: 0;
  color: var(--blue-300);
  cursor: pointer;
  align-items: center;
}

.contentBox footer button:hover{
  color: var(--blue-500);
}

.contentBox footer button svg{
  margin-right: 0.5rem;
}

.contentBox footer button span::before{
  content: '\2022';
  padding: 0 0.25rem;
  border-radius: 2px;
}